body {
  font-family: Arial, sans-serif;
  /* background-color: #f2f2f2; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  padding: 0;
}

/* ------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding-inline: 20px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.6rem;
}

.arrow:hover, header h1:hover {
  color: orangered;
}

/* ------------------------------- */

main {
  position: relative;
  max-width: 800px;
  margin-inline: auto;
  padding: 20px;
}

/* ------------------------------- */

#calendar {
  position: fixed;
  bottom: 30px;
  left: 5px;
  right: 5px;
  max-width: 800px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

/* ------------------------------- */

.day {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.day:hover {
  background-color: #f9f9f9;
}

.day.hide {
  background-color: transparent;
  border: none;
  cursor: auto;
  transition: .2s;
}

.day.hide:hover {
  background-color: transparent;
}

.today {
  background-color: blue;
  color: wheat;
  border: 1px solid blue;
  font-weight: bold;
}
.today:hover {
  background-color: wheat;
  color: blue;
  border: 1px solid blue;
  font-weight: bold;
}

.sunday {
  color: red;
}

.holiday {
  background-color: red;
  color: white;
}

.birthday {
  background-color: violet;
}



.day-info {
  position: fixed;
  top: 80px;
  left: 5px;
  right: 5px;
  max-width: 800px;
  margin-inline: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------- */

[data-tooltip] {
  position: relative;
  display: inline-block;
  transition: .2s;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: .6rem;
}

/* ------------------------------- */